<div>
  <h1>
    <%= @the_board.name %>
  </h1>
</div>

<hr>

<div>
  <h2>
    Add a new post
  </h2>
</div>

<form action="/insert_post", method="post">
  
  <div>
    <label for="title">Title </label>
    <input id="title" type="text" name="query_title">
  </div>
  
  <div>
    <label for="body">Body </label>
    <textarea id="body" type="text" name="query_body" cols="30" rows="10"></textarea>
  </div>
  
  <div>
    <label for="expiration_date">Expires on</label>
    <input id="expiration_date" type="date" name="query_expires_on">
  </div>
  
  <div>
    <input id="board_id" type="hidden" name="query_board_id" value="<%= @the_board.id %>">
  </div>

  <div>
    <button>Add post</button>
  </div>

</form>

<hr>

<h2>Active Posts</h2>
  <% matching_posts = Post.where("board_id = ? AND expires_on > ?", @the_board.id, Date.today).order(expires_on: :asc)%>

    <table border = 1>
      <tr>
        <th>
          Title
        </th>

        <th>
          Body
        </th>
        
        <th>
          Posted on
        </th>
        
        <th>
          Expires on
        </th>
      </tr>
   

  <% matching_posts.each do |a_post| %>
        <tr>
          <td>
            <%= a_post.title%>
          </td>

          <td>
            <%= a_post.body%>
          </td>
          
          <td>
            <%= a_post.created_at.strftime("%b %e, %Y")%>
          </td>
          
          <td>
            <%= a_post.expires_on.strftime("%b %e, %Y")%>
          </td>
        </tr>
    <%end%>

  </table>


<h2>Expired Posts</h2>

<% matching_posts = Post.where("board_id = ? AND expires_on < ?", @the_board.id, Date.today).order(expires_on: :asc)%>

    <table border = 1>
      <tr>
        <th>
          Title
        </th>

        <th>
          Body
        </th>
        
        <th>
          Posted on
        </th>
        
        <th>
          Expires on
        </th>
      </tr>
   

  <% matching_posts.each do |a_post| %>
        <tr>
          <td>
            <%= a_post.title%>
          </td>

          <td>
            <%= a_post.body%>
          </td>
          
          <td>
            <%= a_post.created_at.strftime("%b %e, %Y")%>
          </td>
          
          <td>
            <%= a_post.expires_on.strftime("%b %e, %Y")%>
          </td>
        </tr>
    <%end%>

  </table>
